<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/contactInfo.css" th:href="@{contactInfo.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/base.css" th:href="@{base.css}"/>
</head>
<body>
<div th:fragment="contactInfo">
    <div class="navbar">
        <nav class="bottom-nav navbar navbar-expand-sm bg-blue navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <ul class="nav navbar-nav contactInfo">
                    <li>Drug Safety Consult</li>
                    <li>Tlf.: +45 23 66 10 51</li>
                    <li>Nyhavn 16</li>
                    <li>1051 København K</li>
                    <li>Mail: mail@drugsafetyconsult.com</li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>
</html>