<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu">
<img src="https://www.drugsafetyconsult.com/CustomerData/Files/Images/Archive/1-grafik/logo_3.png" />
<nav class="navbar navbar-default navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Index</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Materials</a></li>
            <li><a href="#">Q/A</a></li>
        </ul>
    </div>
</nav>
</div>

</body>
</html>