<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About Drug Safety Consulting</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/menu.css" th:href="@{menu.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/base.css" th:href="@{base.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            <div th:include="fragments/menu :: menu"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            <h1>Pharmacovigilance QA Consulting</h1>
            <p>Drug Safety Consult is updated on the latest Pharmacovigilance requirements
                and offers QA auditing, project management, training, and compliance consulting.</p>

            <p>The scope of pharmacovigilance is the total safety set-up encompassing HQ, local operating companies and any other contributing parties. A quality management system for safety should follow ISO principles and be robust, consistent,
                and transparent and provide clear and timely solutions throughout the organization.</p>

            <p>Aiming for slim, robust and transparent solutions that support the business and safeguard the patients, Drug Safety Consult is a competent dialog partner offering consultancy in the complete safety framework for pharmacovigilance
                focusing on active surveillance and risk management.</p>
        </div>
    </div>
</div>
</body>
</html>