<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Drug Safety Consulting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/menu.css" th:href="@{menu.css}" />
    <link rel="stylesheet" type="text/css" href="../static/base.css" th:href="@{base.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/contactInfo.css" th:href="@{contactInfo.css}"/>

</head>
<body>
<div th:include="fragments/menu :: menu"></div>
<img src="https://images.pexels.com/photos/236047/pexels-photo-236047.jpeg?cs=srgb&dl=landscape-nature-sky-236047.jpg&fm=jpg" height="750" width="1900" />

<div th:include="fragments/contactInfo :: contactInfo"></div>
</body>
</html>